/* Estilos CSS */
body {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   margin: 0;
  }
  
  header {
    background-color: #6d2bcf;
    color: #fff;
    padding: 20px;
    text-align: center;
  }
  
  h1 {
    margin: 0;
  }
  
  .container {
    max-width: 800px;
    margin: 20px auto;
    padding: 0 20px;
  }
  
  .post {
    margin-bottom: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid #ddd;
    text-align: center;
  }
  .pie {
    width: 100%; /* Establece el ancho del rectángulo */
    height: 200px; /* Establece la altura del rectángulo */
    padding: 20px; /* Agrega un relleno alrededor del contenido */
    background-color: rgb(61, 30, 216);
     padding: 20%;
    color: white;
    padding: 20px;
    margin-top: 200px;
  }
  .redes {
    display: flex;
    justify-content: space-between;
    align-items: flex-start; /* Alinea los elementos en la parte superior */
    justify-content: flex-end; /* Alinea los elementos en el extremo derecho */
    padding: 0px;
    text-align: center;
    padding-left: 10px; 
  }
  .redes img {
    display: flex;
    max-width: 1000%;
    height: 30px; 
     
  }
  div a{
    font-weight: 600;
    padding-left: 90px;

  }
  
  .post h2 {
    margin-top: 0;
    color: #563d7c;
  }
  
  .post p {
    line-height: 1.5;
  }
  
  /* Estilos responsivos */
  @media (max-width: 600px) {
    /* Estilos para dispositivos con ancho máximo de 600px */
    .container {
      max-width: 100%;
      padding: 0 10px;
    }
  }
  
  /* Estilos adicionales */
  .post img {
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
  }
  